/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  align-items: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.socialLinks {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
}

.socialLinks > * {
  margin-right: 1rem;
}
